<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Basics</a>{{>basics}}</li>
  <li role="presentation"><a href="#">Weapons</a></li>
  <li role="presentation"><a href="#">Occupation</a></li>
  <li role="presentation"><a href="#">Edumacation</a></li>
</ul>
